.list-item {
  width: 100%;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

.price-row {
  display: flex;

  .price-item {
    flex-grow: 1;
    flex-wrap: nowrap;
  }
}
