.video{
  width: 750rpx;
  height: 421rpx;
}

.tab-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48rpx;

  .tab{
    font-size: 36rpx;

    &.active {
      color: red;
      border-bottom: 4rpx solid red;
    }
  }
}

.mv-info-panel{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
