.navigation-tab {
  display: flex;
  align-items: center;
  justify-content: stretch;

  .tab-container {
    display: flex;
    align-items: center;
    justify-content: stretch;

    .tab-item {
      flex-grow: 1;
    }
  }

}
