

.container {

  .content {
    padding: 24 rpx 16 rpx 16 rpx 16 rpx;
  }

  .recommend-tab{
    .recommend-panel {
      margin-top: 32rpx;

      .top-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28rpx;

        image {
          width: 36rpx;
          height: 36rpx;
        }

        .recommend-title{
          margin-left: 4px;
        }

        .placeholder {
          flex-grow: 1;
        }

        .more-btn{
          color: gray;
        }
      }

      .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 16rpx;

        .card {
          width: 32%;
        }

        .mv-card{
          width: 49%;
        }
      }
    }
  }

}
