.news-tag-container {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  .news-tag {
    display: inline-block;
    margin: 4px 16px;
    white-space: nowrap;
  }
}

.active-tag{
  background-color: lightgray;
  color: white;
  padding: 0 8px;
  border-radius: 4px;
}